<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc3b2bd0f4.js" crossorigin="anonymous"></script> <!-- Add Fontawesome Symbols -->
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>


    <!-- Homepage that is shown if the user is logged in (has cookies associated with them)-->
<% if(isUser){ %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class = "container-fluid">
            <!-- Navbar Branding -->
            <div class = "navbar-header">
                <a class="navbar-brand" href="/">Kenyon Car Connect</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- Post Trip Button Information -->
                        <li class = "nav-item">
                            <a href="/Trips/postTrip" class="btn btn-info me-3" role="button">
                                <i class="fa-solid fa-car"></i> Post a Trip
                            </a>
                        </li>
                        <!-- Your Trips Button Information -->
                        <li class = "nav-item">
                            <a href="/" class="btn btn-info me-3" role="button">
                                <i class="fa-solid fa-bell"></i> Your Trips
                            </a>
                        </li>
                        <!-- Dropdown for profile and logout-->
                        <div class="dropdown">
                            <!-- Drop down button information -->
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-bars"></i> <!-- Hamburger Icon for dropdown -->
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                <!-- Profile Button Information -->
                                <li>
                                    <a href="/User/Profile" class="dropdown-item" role="button">
                                        <i class="fa-solid fa-user"></i> Profile
                                    </a>
                                </li>
                                <!-- Logout Button Information -->
                                <li>
                                    <a href="/User/LogoutUser" class="dropdown-item" role="button">
                                        <i class="fa-solid fa-right-from-bracket"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </div>                        
                   </ul>
            </div>
        </div>
    </nav>

    <!-- Header Text for Homepage-->
    <div class = "d-flex align-items-center">
        <div class="container mt-4 text-center">
            <h1 id = "welcomeMessage" class = "fade-text">Welcome back <%= user.firstName %>!</h1>
            <!-- Trip Feed Cards-->
            <div class = "card mb-3 mx-auto" style = "max-width: 750px;">
                <!-- Card Body -->
                <div class="card-body">
                    <!-- Badge heading for trip -->
                    <h2 class="card-title"><span class="badge badge-primary">Trip Request</span></h2>
                    <!-- First Row-->
                    <div class = "row g-0 h-100">
                        <!-- Left Column with Image-->
                        <div class="col-md-6 d-flex align-items-center justify-content-center h-100">
                            <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/master/pass/GoogleMapTA.jpg" class="img-fluid rounded-start" alt="Trip Map">
                        </div>

                        <!-- Column with Ride Info-->
                        <div class="col-md-6 d-flex flex-column align-items-start justify-content-center h-100">
                            <span class = "trip-feed-card-field">
                                <p class="card-text"><b>Distance:</b> 10 miles</p>
                            </span>
                            <span class = "trip-feed-card-field">
                                <p class="card-text"><b>Stops:</b> 1 Stop</p>
                            </span>
                            <span class = "trip-feed-card-field">
                                <p class="card-text"><b>Will pay:</b> $10</p>
                            </span>
                            <span class = "trip-feed-card-field">
                                <p class="card-text"><b>Time:</b> 2:00 PM</p>
                            </span>
                            <span class = "trip-feed-card-field">
                                <p class="card-text"><b>Date:</b> 10/23/2025</p>
                            </span>
                        </div>
                    </div>
                    <!-- Bottom of card (comment and buttons)-->
                    <span class = "trip-feed-card-field">
                        <p class="card-text"><b>Comment:</b> I need a ride to dunkin donuts pls</p>
                    </span>
                    <button class="btn btn-primary ms-2" data-toggle = "modal" data-target = "#updateRideProfileModal">Accept Request</button>
                </div>
            </div>
        </div>
    </div>     

<!-- Homepage that is shown if the user is not logged in (does not have cookies associated with them)-->
    <% }else{ %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class = "container-fluid">
            <!-- Navbar Branding -->
            <div class = "navbar-header">
                <a class="navbar-brand" href="/">Kenyon Car Connect</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav ml-auto">
                        <!-- Profile Button Information -->
                        <li class = "nav-item">
                            <a href="/User/UserSignupPage" class="btn btn-info me-3" role="button">
                                <i class="fa-solid fa-user"></i> Sign Up
                            </a>
                        </li>
                        <!-- Logout Button Information -->
                        <li class = "nav-item">
                            <a href="/User/UserLoginPage" class="btn btn-info" role="button">
                                <i class="fa-solid fa-right-from-bracket"></i> Login
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>
    

    <div class = "d-flex align-items-center">
        <div class="container mt-4 text-center">
            <h1 id = "LoggedOutWelcomeMessage" class = "fade-text">Hello world!</h1>
        </div>
    </div>
    <% } %>




<!-- Scripts for page necessities -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Awesome scripts for making this page dynamic-->
<!-- This script makes it so the header of the page changes from welcome user to trip feed on page load-->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            let message = document.getElementById("welcomeMessage");
            message.style.opacity = "0"; // Fade out

            setTimeout(function() {
                message.textContent = "Trip Feed"; // Change text
                message.style.opacity = "1"; // Fade in
            }, 1000); // Wait for fade-out transition to complete (1s)
            
        }, 3000); // Initial delay before fade starts (3s)
    });
</script>


</body>
</html>