<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kenyon Car Connect - Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-md mt-5 justify-content-center text-center">
        <h1>Login</h1>
        <p>Please enter your email and password below to login</p>
    </div>


<!-- Sign up form Information -->
 <div class = "container-md justify-content-center">
    <form action="/User/LoginUser" method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Kenyon Student Email</label>
            <input type="email" name="email" id="email" class="form-control" pattern="^[a-zA-Z0-9._%+-]+@kenyon\.edu$" required>
            <div class="invalid-feedback">
            Please enter a valid Kenyon College email address.
            </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="text" name="password" id="password" class="form-control" required>
          </div>
        <div class = "mt-5 text-center">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <% if (loginFailed) { %> <!-- If user fails to login, the page will show that the login failed-->
        <div class="alert alert-danger mt-3" role="alert">
            Login failed. Either your email or password were incorrect.
        <% } %>
    </form>
</div>

<!-- Scripts for adding page necessities -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Awesome scripts for making this page dynamic-->
<script>
    // Custom validation for email (has to contain kenyon.edu)
    document.getElementById('email').addEventListener('input', function() {
      if (this.validity.patternMismatch || !this.value.endsWith('@kenyon.edu')) {
        this.setCustomValidity('Please enter a valid Kenyon College email address.');
      } else {
        this.setCustomValidity('');
      }
    });

        // Prevent form submission if email is not valid
        document.querySelector('form').addEventListener('submit', function(event) {
      var emailInput = document.getElementById('email');
      if (!emailInput.value.endsWith('@kenyon.edu')) {
        emailInput.setCustomValidity('Please enter a valid Kenyon College email address.');
        emailInput.reportValidity();
        event.preventDefault();
      }
    });
</script>

</body>
</html>